<div class="container mt-2">
    <div *ngIf="(basket$ | async) === null">
        <P>سبد خرید شما خالی ست</P>
    </div>

    <div *ngIf="(basket$ | async) as basket">
        <div class="pd-5">
            <div class="cotaier">
                <div class="row">
                    <div class="col-12 py-5 mb-1">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="border-0 bg-light" scope="col">
                                            <div class="p-2 ps-3 text-uppercase">نام محصول</div>
                                        </th>
                                        <th scope="col" class="border-0 bg-light">
                                            <div class="py-2 text-uppercase">قیمت</div>
                                        </th>
                                        <th scope="col" class="border-0 bg-light">
                                            <div class="py-2 text-uppercase">تعداد</div>
                                        </th>
                                        <th scope="col" class="border-0 bg-light">
                                            <div class="py-2 text-uppercase">مجموع</div>
                                        </th>
                                        <th scope="col" class="border-0 bg-light">
                                            <div class="py-2 text-uppercase">حذف</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of (basket$ | async).items">
                                        <th scope="row">
                                            <div class="p-2">
                                                <img style="max-height:50px;" src="{{item.pictureUrl}}" alt="{{item.productName}}" class="img-fluid">
                                                <div class="ml-3 d-inline-block align-middle">
                                                    <h5 class="mb-0">
                                                        <a routerLink="/shop/{{item.id}}" class="text-dark">{{item.productName}}</a>
                                                    </h5>
                                                    <span class="text-muted font-weight-normal font-italic d-block">
                                                        نوع: {{item.type}}
                                                    </span>
                                                </div>
                                            </div>
                                        </th>
                                        <td class="align-middle">
                                            <strong>{{item.price | currency}}></strong>
                                        </td>

                                        <td class="align-middle">
                                            <div class="d-flex align-items-center">
                                                <i (click)="decrementItemQuantity(item)" class="fa fa-minus-circle text-warning mr-2" style="cursor: pointer; font-size: 2em"></i>
                                                <span class="font-weight-bold" style="font-size:1.5em;">{{item.quantity}}</span>
                                                <i (click)="incrementItemQuantity(item)" class="fa fa-plus-circle text-warning mx-2" style="cursor: pointer; font-size: 2em"></i>
                                            </div>
                                        </td>

                                        <td class="align-middle">
                                            <strong>{{item.price * item.quantity | currency}}</strong>
                                        </td>

                                        <td class="align-middle text-center">
                                            <a class="text-danger">
                                                <i (click)="removeBasketItem(item)" class="fa fa-trash" style="font-size: 2em; cursor: pointer;"></i>
                                            </a>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row mb-5">
                    <div class="col-6 offset-6">
                        <app-order-totals></app-order-totals>
                        <a routerLink="/checkout" class="btn btn-outline-primary py-2 btn-block">
                            پرداخت
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        
        
        
    </div>
</div>